python-dotenv
pandas
numpy
pymongo
certifi
pymongo[srv]
scikit-learn
mlflow
pyaml
dagshub
fastapi
uvicorn
python-multipart
# Exclude pywin32 on non-Windows platforms
pywin32==308; sys_platform == 'win32'
